*{
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
    position: fixed;
    text-align: center;
    width: 30%;
    float: left;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}

.box2{
    position: static;
    width: 69%;
    background-color: rgb(163, 112, 1);
    color: rgb(255, 255, 255);
    border: solid;
    float: right;
    text-align: center;
}

img{
    padding: 10%;
    text-align: center;
    border-radius: 50%;
}

ul{
    padding: 2%;
}

ul li{
    list-style: none;
   }

header{
    text-align: center;
    color: #fcfafa;
    background-color: #000;
}

footer{
    text-align: center;
    color: #ffffff;
    background-color: #000;
}

h2{
    padding-bottom: 1%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: #000;
}

h3{
    padding-top: 1%;
    padding-bottom: 1%;
    color: #000;
}